*{
    margin: 0;
}

body {
    font-family: Arial;
    padding: 20px;
}
  
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
  
.show {
    display: flex;
}

.hidden {
    display: none;
}
  
#formContainer {
    margin-top: 16px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 240px;
    height: 130px;
}

input {
    padding: 5px;
}

button{
    background-color: blanchedalmond;
    border: 1.5px solid #ff8a8a;
    border-radius: 4px;
    padding: 5px 15px;
    box-shadow: 2px 2px 2px #4d4d4d;
    font-size: 0.9em;
    cursor: pointer;
}

button:hover{
    background-color: #ffd79b;
}

button:active{
    background-color: #ffc368;
    border-color: #ff6565;
    box-shadow: 1px 1px 2px #4d4d4d;
}

/* Edit Button */

td .edit {
    background-color: #008ab8;
    color: white;
    border: none;
}
  
td .edit:hover {
    background-color: #04789f;
}

td .edit:active {
    background-color: #047195;
    border: none;
}

/* Delete and Cancel Buttons */

td .delete, .cancel {
    background-color: #e74d3c;
    color: white;
    border: none;
}
  
td .delete:hover, .cancel:hover {
    background-color: #bf3a2b;
}

td .delete:active, .cancel:active {
    background-color: #a63326;
    border: none;
}

/* Submit and Update Buttons */

#formContainer .submit, td .update{
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 7px;
}

#formContainer .submit:hover, td .update:hover{
    background-color: hsl(158, 95%, 30%);
}

#formContainer .submit:active, td .update:active{
    background-color: hsl(158, 95%, 28%);
    border: none;
}