.cart-icon {
  margin-left: 2rem;
  position: relative;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

.item-count {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0.1em 0.5em;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  right: -12px;
}
