.recipe-card {
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.recipe-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.recipe-card .recipe-details {
  padding: 0 0.5em 1em 0.5em;
}

.recipe-card .recipe-details h3 {
  margin: 0.5em 0;
}

.recipe-card .recipe-details p {
  margin: 0.5em 0;
}

.recipe-details .price {
  font-weight: bold;
  color: #444;
  margin: 0.5em 0;
}

.add-to-cart {
  background-color: #f57c00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.add-to-cart:hover {
  background-color: #ef6c00;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
